@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'button.scss';
@import 'color.scss';

* {
  font-family: 'Ubuntu', sans-serif !important;
  padding: 0;
  margin: 0;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-image: url('/assets/img/background.png');
  .side-nav {
    cursor: pointer;
    height: 53.3333333333px;
    width: 53.3333333333px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
    color: pink;
    background-color: none;
    position: fixed;
    left: 53.3333333333px;
    top: 53.3333333333px;
    z-index: 1;

    .side-nav-img {
      transition: 0.5s;
      -webkit-transform: rotate(180deg);
    }
    .close {
      transition: 0.5s;
      -webkit-transform: rotate(0deg);
    }
    img {
      height: 35px;
    }
  }
  header {
    color: black !important;
    &.scrolled {
      padding-top: 5rem;
      position: fixed;
      left: 0;
      top: 0;
      background-color: black;
      height: 100%;
      width: 160px;
      overflow-x: hidden;
      text-align: start;
      nav {
        display: block;
        .left,
        .right {
          padding-top: 2rem;
          display: block;
          ul {
            text-align: center;
            display: block;
            a {
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
  nav {
    transition: 1s;
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: width 5s;
    .left {
      padding-left: 2rem;
      font-size: 1.5rem;
      color: aqua;
    }
    .right {
      ul {
        display: flex;
        flex-direction: row;
        li {
          padding: 2rem;
          list-style: none;
          &:hover {
            background-color: rgb(0, 119, 119);
          }
          &:last-child:hover {
            background-color: rgb(2, 172, 121);
          }
          a {
            background: none;
            text-decoration: none;
            list-style: none;
          }
        }
      }
    }
  }
  main {
    padding-top: 2rem;
    // transition: 1s;
    margin: 0 160px 0 160px;
    background-color: rgba(0, 0, 0, 0.781);
    #welcome {
      width: 100%;
      height: 1000px;
      transition: 1s;
      &.scrolled {
        margin-top: 5rem;
      }
      h1 {
        transition: 1s;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        font-size: 10vw;
        font-weight: 75;
      }
      .text {
        width: 33%;
        height: 150px;
        display: flex;
        margin-right: 33%;
        margin-left: 33%;
        justify-content: center;
        p {
          padding: 0.5vw 0.5vw 0.5vw 0;
          font-size: 30px;
          &:nth-child(2) {
            padding-right: 0;
          }
        }
      }
      .buttons {
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        .social {
          padding: 2rem;
          display: flex;
          justify-content: center;

          img {
            padding: 0.5rem;
            justify-content: center;
            align-items: center;
            justify-items: center;
            width: 32px;
            height: 32px;
          }
        }
        .scroll {
          margin-left: 50%;
          margin-right: 50%;
          background-color: red;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .mouse {
            margin: 0;
            padding: 0;
            width: 45px;
            height: 45px;
          }
          .wheel {
            transition: 1s;
            position: relative;
            top: -10px;
            left: -27px;
            width: 10px;
            height: 10px;
          }
          &:hover {
            .wheel {
              top: 10px;
            }
          }
        }
      }
    }
    #about {
      color: white;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2px;
      height: 100%;
      width: 100%;
      div {
        height: 100%;
        width: 100%;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 1s;
        &:hover {
          cursor: pointer;
          padding-top: 2rem;
          &:nth-child(1) {
            background: linear-gradient(
                to right,
                rgba(1, 41, 29, 0.808),
                rgba(3, 25, 44, 0.897)
              ),
              url(../img/programmer.gif);
            background-repeat: no-repeat;
            background-size: 100%;
          }
          &:nth-child(2) {
            background: linear-gradient(
                to right,
                rgba(3, 1, 34, 0.911),
                rgba(35, 2, 58, 0.87)
              ),
              url(../img/computer.gif);
            background-repeat: no-repeat;
            background-size: 100%;
          }
          &:nth-child(3) {
            background: linear-gradient(
                to right,
                rgba(49, 53, 0, 0.959),
                rgba(66, 38, 1, 0.87)
              ),
              url(../img/bench.gif);
            background-repeat: no-repeat;
            background-size: 100%;
          }
          &:nth-child(4) {
            background: linear-gradient(
                to right,
                rgba(3, 3, 3, 0.75),
                rgba(0, 0, 0, 0.75)
              ),
              url(../img/portfolio.gif);
            background-repeat: no-repeat;
            background-size: 100%;
          }
        }
        a {
          display: none;
        }
        p {
          font-size: 75;
          font-weight: 750;
          padding-bottom: 2rem;
        }
        img {
          padding-bottom: 2rem;
          padding-top: 2rem;
          height: 75px;
          width: 75px;
        }
      }
      div:nth-child(1) {
        background: linear-gradient(
            to right,
            rgba(0, 255, 179, 0.6),
            rgba(14, 134, 233, 0.6)
          ),
          url(../img/programmer.gif);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      div:nth-child(2) {
        background: linear-gradient(
            to right,
            rgba(9, 3, 95, 0.2),
            rgba(88, 2, 146, 0.6)
          ),
          url(../img/computer.gif);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      div:nth-child(3) {
        background: linear-gradient(
            to right,
            rgba(238, 255, 0, 0.301),
            rgba(241, 137, 0, 0.6)
          ),
          url(../img/bench.gif);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      div:nth-child(4) {
        background: linear-gradient(
            to right,
            rgba(3, 3, 3, 0.6),
            rgba(0, 0, 0, 0.6)
          ),
          url(../img/portfolio.gif);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
}
